$baseBlack: #17171d;
$baseWhite: #ffffff;

$grey900: #343441;
$grey700: #515166;
$grey500: #6e6e8a;
$grey400: #82829E;
$grey300: #AAAAC6;
$grey200: #dbdbe2;
$grey100: #eeeef4;

$semantic-success-500: #55e14b;
$semantic-success-300: #95db75;
$semantic-success-100: #f6fff2;

$semantic-danger-500: #FF3A5C;
$semantic-danger-300: #F2857C;
$semantic-danger-100: #FFF4F3;

$semantic-warning-500: #FFCB46;
$semantic-warning-300: #F4D07F;
$semantic-warning-100: #FFFAEE;

$semantic-info-500: #2EA6FF;
$semantic-info-300: #73C3F5;
$semantic-info-100: #F2F9FF;

$primaryPurple500: #7036e9;
