@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  // MEDIA QUERY MANAGER
  
  /*  
    0 - 575px:   Phone
    576px - onwards: Desktop
    
    $breakpoint argument choices:
    -phone
  */
  
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 575px) { @content } ; // 575px
    }   
}