.alert {
  width: 100%;
  padding: 1.2rem 1.9rem;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 11px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  &__message {
    flex: 1;
    color: $grey900;
    &--title {
      @include bodyBold();
      margin-bottom: 4px;
    }

    &--description {
      @include bodyRegular();
    }
  }

  &-info {
    background: $semanticInfo100;
    border: 1px solid $semanticInfo300;
  }

  &-danger {
    background: $semanticDanger100;
    border: 1px solid $semanticDanger300;
  }

  &-warning {
    background: $semanticWarning100;
    border: 1px solid $semanticWarning300;
  }

  &-success {
    background: $semanticSuccess100;
    border: 1px solid $semanticSuccess300;
  }

 
}
