hr.solid {
  border-top: 1px solid #c8c8db;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-container {
  padding: 40px 88px 60px;
}

.generic-container {
  border: 1px solid $grey300;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 40px;
  width: 100%;
}

.root-node {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;

  &__title {
    @include titleBold();
  }

  &__description {
    @include subheaderRegular();
    color: $grey900;
  }
}

.child-node {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 20px;
  padding-bottom: 1.2rem;
  &__title {
    @include subheaderBold();
    padding-left: 2rem;
  }

  &__description {
    @include subheaderRegular();
    padding-left: 2rem;
    color: $grey900;
  }
}

.children {
  margin-top: 2rem;
}

ul.children,
ul.children ul {
  list-style: none;
}

ul.children ul {
  margin-left: 1.8rem;
}

ul.children li {
  margin-left: 0.9rem;
  border-left: $connector;
  position: relative;
}

ul.children li:last-child {
  border-left: 1px solid transparent;
}

ul.children li:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 0.1em;
  background-color: #C6AFF6;
  transform: translate(-50%, -50%);
  content: "";
  display: inline-block;
}
