.properties-container {
  border: 1px solid $grey300;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 40px;
  width: 100%;
}

.root-node {
  color: $grey900;
  &__title {
    @include titleBold();
  }

  &__description {
    margin-top: 20px;
    @include subheaderRegular();
  }
}

.child-node {
  color: $grey900;
  &__title {
    @include subheaderBold();
  }

  &__description {
    margin-top: 8px;
    @include subheaderRegular();
  }
}

ul.children {
  padding-left: 1.5rem;
  margin-top: 20px;
}

ul.children ul {
  padding-left: 2rem;
  margin-top: 16px;
}

ul.children li {
  padding-left: 8px;
  margin-bottom: 10px;
  list-style: none;
}

ul.children li {
  position: relative;
  margin-bottom: 0;
  &:not(:last-child) {
    padding-bottom: 16px;
  }
}

ul.children li:after {
  /* BULLETS */
  content: "";
  position: absolute;
  left: -19px; /*adjust manually*/
  top: 7px;

  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: $primary200;
}

ul.children li:before {
  /* LINES */
  content: "";
  position: absolute;
  left: -16px;
  border-left: $connector;
  height: 100%;
  width: 1px;
}

ul.children li:first-child:before {
  /* first li's line */
  top: 12px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.children li:last-child:before {
   /* last li's line */
  height: 12px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}


