*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  background: url(../../images/background.png) no-repeat center center fixed;
  background-size: cover;
}

body {
  box-sizing: border-box;
  height: 100%;
}