.credential {
  display: grid;
  grid-template-rows: $credential-header-height auto auto;
}

.credential-header {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include headlineBold();
    color: $primary500;
    margin-bottom: 20px;
  }

  .vertical-separator {
    border-left: 1px solid $grey200;
    height: 20px;
    margin: 0 16px;
  }

  .validity {
    margin-top: 19px;
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    &__label {
      @include captionBold();
      color: $primary500;
      margin-right: 22.5px;
    }

    &__icon {
      display: inline-block;
      width: 11px;
      height: 11px;
      margin-right: 6.5px;
    }

    &_date {
      @include captionRegular();
      color: $grey400;
    }
  }
}

.section-label {
  @include captionBold();
  color: $primary500;
  margin-bottom: 16px;
}

.issued-by {
  margin-top: 40px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .issuer {
    display: flex;
    &__logo {
      width: 165.29px;
      height: 84px;
      margin-right: 20px;
      img {
        display: inline-block;
        height: 100%;
      }
    }
  }

  .qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;

    &__label {
      @include captionRegular();
      color: $primary900;
      margin-bottom: 12px;
    }

    &__url {
      @include textButtonRegular();
    }
  }
}

.recipient {
  margin-bottom: 40px;
}

// used for both issuer and recipient
.subject-data {
  &__name {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    @include titleBold();
    color: $grey900;
    &-logo {
      width: 24px;
      height: 24px;
      padding: 2px;
      margin-right: 8px;

      img {
        display: inline-block;
        height: 100%;
      }
    }
  }
  &__did {
    display: flex;
    align-items: center;
    @include bodyRegular();
    color: $grey700;

    img {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }
}
