.credential {
  display: grid;
  grid-template-rows: $credential-header-height auto auto;
}

.credential-header {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include headlineBold();
    color: $primary500;
    margin-bottom: 20px;
  }

  .vertical-separator {
    border-left: 1px solid $grey200;
    height: 20px;
    margin: 0 16px;
  }

  .validity {
    margin-top: 19px;
    margin-bottom: 19px;
    display: flex;
    align-items: center;
    &__label {
      @include captionBold();
      color: $primary500;
      margin-right: 22.5px;
    }

    &__icon {
      display: inline-block;
      width: 11px;
      height: 11px;
      margin-right: 6.5px
    }

    &_date {
      @include captionRegular();
      color: $grey400;
    }
  }
}
