.page-container {
  padding: 40px 88px 60px;
  display: grid;
  grid-template-rows: auto $footer-height;
  row-gap: 40px;
}

hr.solid {
  border-top: 1px solid $grey200;
  margin-top: 40px;
  margin-bottom: 40px;
}

hr.separator {
  border-top: 1px solid $grey200;
}

.toc {
  &__title {
    @include headlineBold();
    color: $primary500;
    margin-bottom: 12px;
  }

  &__subtitle {
    @include subheaderRegular();
    color: $grey900;
  }
}

.toc-list {
  margin-left: 40px;
  list-style-type: none;
  counter-reset: li;
}

li.toc-item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

li.toc-item:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero) ".";
  @include subheaderRegular();
  color: $primary500;
  margin-right: 20px;
}

.toc-link {
  text-decoration: none;
  @include subheaderRegular();
  color: $grey900;

  &--strong {
    @include subheaderBold();
  }
}
