.page-container {
  padding: 40px 88px 60px;
  display: grid;
  grid-template-rows: auto $footer-height;
  row-gap: 40px;
}

hr.solid {
  border-top: 1px solid $grey200;
  margin-top: 40px;
  margin-bottom: 40px;
}

